{
  "parser": "babel-eslint",
  "extends": "cool",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prop-types": 0,
    "global-require": 0,
    "no-console":0,
    "react/jsx-filename-extension": 0,
    "react/static-property-placement": 0,
    "react/state-in-constructor": 0,
    "react-hooks/exhaustive-deps":0,
    "react/jsx-no-bind":0,
    "no-unused-vars":0
  }
}
