* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrap {
  width: 100%;
  height: 100%;
}
.wrap h1 {
  font-size: 112px;
  color: linear-gradient(180deg, #FFFFFF 0%, #8383F4 100%);
  box-shadow: 10px 3px 30px 1px rgba(127, 13, 228, 0.6);
}
.wrap > .ant-row {
  width: 100%;
  height: 100%;
}
